<div class="card" style="margin-bottom: 10px;">
    <img src="https://mdbcdn.b-cdn.net/img/new/standard/nature/184.webp" class="card-img-top" alt="Fissure in Sandstone"/>
    <div class="card-body">
      <h5 class="card-title">{{element.serverName}}</h5>
      <p class="card-text">{{element.serverContent}}</p>
      <div class="d-flex justify-content-between">
        <a href="#!" class="btn btn-primary">Button</a>
        <button type="button" class="btn btn-danger" (click)="onDelete()">Delete</button>
      </div>
    </div>
  </div>